@page
@using System.Data
@model BPOI_HUB.pages.menu.AppsMenuModel
@{
    ViewData["Title"] = "Apps Menu";
}

<head>
    <script src="~/js/menu/mainmenu.js"></script>
</head>
<br />
@Html.AntiForgeryToken()

<div class="row">
@foreach (DataRow row in @Model.app_dt.Rows)
{

        <div class="col-xl-4 col-lg-6 mb-4"><div class="@row["type"].ToString()" ><div class="card-body">
        <div class="d-flex align-items-center">
        <img src="/img/@row["image"].ToString()" alt="" style="width: 60px; height: 60px" class="rounded-circle" />
        <div class="ms-3">
        <p class="fw-bold mb-1"><a href="@row["link"].ToString()">@row["name"].ToString()</a></p>
        <p class="text-muted mb-0">@row["description"].ToString()</p>
        </div></div></div></div ></div>
 
}
</div>

